:root {
  /* Colours */
  --color-primary: #2f80ed;
  --color-base: #383737;
  --color-border: #ccc6c1;
  --color-gray-200: #e5e6eb;
  --color-bg: #f8f8f8;

  /* Fonts */
  --font-sans-serif: "Merriweather", serif;
  --font-serif: Georgia, Times, serif;
  --font-mono: Menlo, Courier, monospace;
  --font-light: 100;
  --font-normal: 400;
  --font-bold: 700;
  --font-heavy: 800;

  /* Breakpoints */
  --xlarge: 1680px;
  --large: 1280px;
  --medium: 980px;
  --small: 740px;
  --xsmall: 480px;

  /* Sizes */
  --height: 4rem;
  --margin: 2rem;
  --radius: 0.5rem;
}
