.fixed-audio-player {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    background-color: #f2f2f2;
    padding: 10px;
    z-index: 1000;
    display: flex;
    align-items: center;
  }
  
  .audio-element {
    width: 100%;
  }
  
  .play-pause-button {
    background-color: #f2f2f2;
    border: none;
    outline: none;
    cursor: pointer;
    width: 40px;
    height: 40px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: 24px 24px;
    background-image: url("/Users/alban/Documents/artaufeminin/img/play-pause-icon.png");
  }
  
  .play-pause-button.playing {
    background-image: url("/Users/alban/Documents/artaufeminin/img/pause-icon.png.png"); 
  }
  