.post-feed {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
}

.post-card {
  position: relative;
  flex: 1 1 50%;
  display: flex;
  position: relative;
  height: 35vw;
  background: linear-gradient(135deg, #1f1f1f 0%, #111 100%) center center;
  background-size: cover;
  overflow: hidden;
  counter-increment: posts;
}

@media (max-width: 700px) {
  .post-card {
    flex: 1 1 100%;
    height: 70vw;
  }
}

.post-card-large {
  flex: 1 1 100%;
}

.post-card-link {
  flex: 1 1 auto;
  display: block;
}

.post-card-content {
  flex: 1 1 auto;
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  color: #fff;
  background: rgba(0, 0, 0, 0.1);
  opacity: 1;
  transition: opacity 0.5s cubic-bezier(0.33, 0, 0.2, 1);
}

.post-card.with-image .post-card-content {
  opacity: 0;
}
@media (max-width: 700px) {
  .post-card.with-image .post-card-content {
    opacity: 1;
  }
}

.post-card-link:hover .post-card-content {
  opacity: 1;
  transition: opacity 0.3s cubic-bezier(0.33, 0, 0.2, 1);
}

.post-card-title {
  margin: 0;
  display: inline-block;
  font-size: 3.4rem;
  max-width: 70%;
  text-align: center;
  transition: all 0.3s cubic-bezier(0.33, 0, 0.2, 1);
}

/* Posts without images */
.post-card.no-image:before {
  display: block;
  content: counter(posts);
  position: absolute;
  bottom: -0.15em;
  right: 5vw;
  font-size: 28vw;
  line-height: 1em;
  font-weight: var(--font-heavy);
  letter-spacing: -0.1em;
  color: rgba(0, 0, 0, 0.2);
}

.post-card.no-image .post-card-content {
  justify-content: flex-start;
  align-items: flex-start;
  padding: 4vw;
}

.post-card.no-image .post-card-title {
  font-size: 5rem;
  line-height: 1.15em;
  text-align: left;
}

.post-card.no-image:hover .post-card-title {
  text-decoration: underline;
}

@media (max-width: 1200px) {
  .post-card.no-image .post-card-title {
    font-size: 3.4rem;
  }
}
@media (max-width: 700px) {
  .post-card.no-image:before {
    font-size: 50vw;
  }
}
