.article-content figure img {
  margin-left: auto;
  margin-right: auto;
}

.article-preview:hover h3 {
  text-decoration: underline;
}
.article-preview:hover .img {
  transform: scale(1.05);
}
.item-episode:hover .img {
  /* css des items podcast */
  transform: scale(1.05);
}
