.article-content figure img {
  margin-left: auto;
  margin-right: auto;
}

.article-preview:hover h3 {
  text-decoration-line: underline;
  text-underline-offset: 4px;
}
.article-preview .img {
  height: 100%;
  width: 100%;
}
.article-preview .img {
  height: 100%;
  width: 100%;
  background-size: cover;
  background-repeat: no-repeat;
}

.article-preview .img-parent {
  height: 12rem;
  width: 12rem;

  overflow: hidden;
  position: relative;
  display: inline-block;
  cursor: pointer;
}
.img-article {
  height: 100%;
  width: 100%;
  background-size: cover;
  background-repeat: no-repeat;
}
.article-preview:hover .img,
.article-preview:focus .img {
  transform: scale(1.1);
}
