html {
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}
body {
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -moz-font-feature-settings: "liga" on;

  font-family: "Merriweather", serif !important;
}

::selection {
  text-shadow: none;
  background: #fef9c3;
  color: #854d0f;
}

hr.separator {
  position: relative;
  display: block;
  width: 100%;
  margin: 2.5em 0 3.5em;
  padding: 0;
  height: 1px;
  border: 0;
  border-top: 1px solid var(--color-border);
}

hr.separator:after {
  content: "";
  position: absolute;
  top: -15px;
  left: 50%;
  display: block;
  margin-left: -10px;
  width: 1px;
  height: 30px;
  background: var(--color-border);
  box-shadow: #f9fafb 0 0 0 5px;
  transform: rotate(45deg);
}

blockquote .stylistic-quote-mark {
  font-size: 5rem;
  right: 100%;
  @apply mr-2 hidden font-serif text-gray-300 text-4xl absolute top-0 leading-none;
}

@screen sm {
  blockquote .stylistic-quote-mark {
    @apply block;
  }
}
