body {
  color: var(--gray-500);
  font-family: var(--font-sans-serif);
  background-color: var(--color-bg);
  transition: background 300ms ease-out;
  transition-delay: 250ms;
}

.site-wrapper {
  padding: 2vw;
  min-height: 100vh;
}

@media (max-width: 850px) {
  .site-wrapper {
    padding: 4vw;
  }
}
