.post-content {
  max-width: 720px;
  margin: 0 auto;
}
.post-content .block-img {
  display: flex;
  margin-top: var(--space-6);
  margin-bottom: var(--space-6);
}

.post-content-header {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.post-content-title {
  margin: 0 0 3vw;
  color: var(--color-base);
  text-align: center;
}

.post-content-excerpt {
  margin: -2vw 0 3vw;
  font-size: 2.2rem;
  line-height: 1.6;
  color: var(--color-base);
  opacity: 0.5;
}

@media (max-width: 500px) {
  .post-content-excerpt {
    font-size: 1.8rem;
  }
}

.post-content-figure {
  margin: 4vw 0;
  position: relative;
  margin-left: calc(50% - 50vw);
  margin-right: calc(50% - 50vw);
  transform: translateX(calc(50vw - 50%));
}

.post-content-body {
  font-size: 1.9rem;
  line-height: 1.65em;
}
@media (max-width: 500px) {
  .post-content-body {
    font-size: 1.7rem;
  }
}

.post-content-body h1,
.post-content-body h2,
.post-content-body h3,
.post-content-body h4,
.post-content-body h5,
.post-content-body h6 {
  color: var(--color-base);
}

.post-content-body li {
  word-break: break-word;
}

.post-content-body li p {
  margin: 0;
}

.post-content-body iframe {
  margin: 0 auto !important;
}

.post-content-body blockquote,
.post-content-body .blockquote {
  display: block;

  margin: 4vw 0;
  position: relative;
  margin-left: calc(50% - 50vw);
  margin-right: calc(50% - 50vw);
  transform: translateX(calc(50vw - 50%));

  font-size: 150%;
  line-height: 1.6;
  max-width: 200%;
  padding: 3rem;

  text-align: center;
  color: var(--color-base);
  font-weight: 700;
}

.post-content-body blockquote p:last-child,
.post-content-body .blockquote p:last-child {
  margin-bottom: 0;
}

.post-content-body .fluid-width-video-wrapper {
  margin: 1.5em 0 3em;
}
