@import "variables.css";
@import "components/global.css";
@import "components/ghost.css";
@import "components/lists.css";
@import "components/grid.css";
@import "components/tables.css";
@import "components/forms.css";
@import "components/buttons.css";
@import "components/actions.css";
@import "components/hamburger.css";
@import "components/animations.css";
@import "components/footer.css";
@import "components/post-content.css";
@import "components/post-card.css";
@import "components/typography.css";

/* Main - Theme styles
/* ---------------------------------------------------------- */

body {
  font-family: var(--font-sans-serif);
  background: var(--color-bg);
  transition: background 0.3s ease-out;
  transition-delay: 0.25;
}

/* Layout
/* ---------------------------------------------------------- */

.site-wrapper {
  padding: 3vw;
  min-height: 100vh;
}
@media (max-width: 850px) {
  .site-wrapper {
    padding: 6vw;
  }
}

/* Site Navigation
/* ---------------------------------------------------------- */

.site-head {
  position: relative;
  z-index: 300;
  margin-top: -10px;
  font-size: 1.35rem;
}

.site-head-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.site-head-left {
  position: relative;
  z-index: 100;
  display: flex;
  align-items: center;
  margin-right: 10px;
  white-space: nowrap;
}

.nav {
  display: flex;
  margin: 0 0 0 -12px;
  padding: 0;
  list-style: none;
}

.site-head li {
  display: block;
  margin: 0;
  padding: 0;
}

.site-head-left a,
.site-head-right a {
  display: block;
  margin: 0;
  padding: 10px 12px;
  color: var(--color-base);
  font-weight: 600;
  opacity: 0.4;
}

a.nav-current,
.site-head a:hover {
  text-decoration: none;
  opacity: 1;
}

.site-head-center {
  position: absolute;
  display: flex;
  justify-content: center;
  width: 100%;
}

.site-head-logo {
  flex-shrink: 0;
  display: block;
  padding: 10px;
  color: var(--color-base);
  font-size: 2.1rem;
  line-height: 1em;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 1px;
}

.site-head-logo:hover {
  text-decoration: none;
}

.site-head-logo img {
  display: block;
  margin-top: 2px;
  width: auto;
  height: 28px;
}

.site-head-right {
  position: relative;
  z-index: 100;
  flex-shrink: 0;
  display: flex;
  align-items: center;
}

.social-links {
  flex-shrink: 0;
  display: flex;
  align-items: center;
}

.subscribe-button {
  display: block;
  padding: 4px 10px;
  border: var(--color-base) 1px solid;
  color: var(--color-base);
  font-size: 1.2rem;
  line-height: 1em;
  border-radius: 10px;
  opacity: 0.8;
}

.subscribe-button:hover {
  text-decoration: none;
  opacity: 1;
}

.rss-button {
  opacity: 0.4;
}

.rss-button:hover {
  opacity: 1;
}

.rss-button svg {
  margin-bottom: 1px;
  height: 2.1rem;
  fill: var(--color-base);
}

/* Mobile Nav Menu
/* ---------------------------------------------------------- */

.nav-burger {
  display: none;
  position: absolute;
  left: 0;
  z-index: 9999;
  padding: 12px 12px 12px 0;
}

.nav-burger,
.nav-burger:hover,
.nav-burger:focus {
  box-shadow: none;
  outline-color: transparent;
}

@media (max-width: 850px) {
  .site-head {
    padding: 0;
  }
  .nav-burger {
    display: block;
  }
  .site-head-container {
    flex-direction: column;
    justify-content: flex-start;
    height: 40px;
    background: rgba(255, 255, 255, 0);
    z-index: -1;
    transition: all 0.4s ease-out;
    overflow: hidden;
  }
  .site-head-left,
  .site-head-right {
    position: relative;
    z-index: -1;
    height: auto;
    transition: height 0.2s cubic-bezier(0.4, 0.01, 0.165, 0.99);
    transition-delay: 1s;
  }
  .site-head-left a,
  .site-head-right a {
    margin: 8px 0;
    padding: 1px 0;
    font-size: 2.6rem;
    line-height: 1.15em;
    font-weight: 200;
    opacity: 0;
    transition: transform 0.3s cubic-bezier(0.4, 0.01, 0.165, 0.99),
      opacity 0.2s cubic-bezier(0.4, 0.01, 0.165, 0.99);
    transform: scale(1.1) translateY(-25px);
  }
  .site-head-right a {
    padding: 5px 0;
    margin: 1px 0;
    font-size: 2rem;
  }
  .nav {
    width: 100%;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    margin: 3vw 0 0 0;
  }
  .site-head-left {
    order: 2;
    margin: 0;
    width: 100%;
  }
  .site-head-center {
    order: 1;
    position: static;
    z-index: auto;
    display: flex;
    justify-content: center;
  }
  .site-head-right {
    order: 3;
    width: 100%;
    margin-top: 3vw;
  }
  .social-links {
    flex-direction: column;
    align-items: flex-start;
  }

  .site-head-open {
    background: rgba(255, 255, 255, 1);
    transition: background 0.5s ease-out;
    transition-delay: 0.25;
    overflow: hidden;
    height: 100vh;
  }

  .site-head-open .site-head-container {
    height: 100vh;
    transition: height 0.2s ease-in;
  }

  .site-head-open .site-head-left,
  .site-head-open .site-head-right {
    z-index: 9999;
    height: auto;
    transition: height 0.2s cubic-bezier(0.4, 0.01, 0.165, 0.99);
  }

  .site-head-open .site-head-left a,
  .site-head-open .site-head-right a {
    opacity: 1;
    transition: transform 0.6s cubic-bezier(0.4, 0.01, 0.165, 0.99),
      opacity 0.9s cubic-bezier(0.4, 0.01, 0.165, 0.99);
    transform: scale(1) translateY(0px);
  }
  .site-head-open a.nav-current {
    border-bottom: var(--color-base) 2px solid;
  }
  .site-head-open .site-head-right a {
    opacity: 0.5;
  }
  .site-head-open .footer {
    display: block;
    position: fixed;
    z-index: 9999;
    bottom: 0;
    transition: transform 0.3s cubic-bezier(0.4, 0.01, 0.165, 0.99);
    transform: translateY(-4vw);
  }
}
