hr.separator {
  position: relative;
  display: block;
  width: 100%;
  margin: 2.5em 0 3.5em;
  padding: 0;
  height: 1px;
  border: 0;
  border-top: 1px solid #d4d4d8;
}

hr.separator:after {
  content: "";
  position: absolute;
  top: -15px;
  left: 50%;
  display: block;
  margin-left: -10px;
  width: 1px;
  height: 30px;
  background: #d4d4d8;
  box-shadow: #ffffff 0 0 0 5px;
  transform: rotate(45deg);
}
:root {
  --gray-50: #fafafa;
  --gray-300: #d4d4d8;
  --color-primary: #3b82f6;
  --color-base: #27272a;
  --color-border: var(--gray-300);
  --color-bg: var(--gray-50);
  --color-white: #ffffff;
}
